################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/DesignTimeBuild
/.vs/DesignPatterns
/DesignPatterns.Consola/obj
/DesignPatterns.Consola/bin/Debug/net6.0
/DesignPatterns.NullObject/bin/Debug/net6.0
/DesignPatterns.NullObject/obj
/DesignPatterns.Strategy/bin/Debug/net6.0
/DesignPatterns.Strategy/obj
/DesignPatterns.ChainOfResponsibility/obj
/DesignPatterns.ChainOfResponsibility/bin/Debug/net6.0
