################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/DesignTimeBuild
/.vs/DesignPatterns
/DesignPatterns.Consola/obj
