################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/DesignTimeBuild
/.vs/DesignPatterns
/DesignPatterns.Consola/obj
/DesignPatterns.Consola/bin/Debug/net6.0
/DesignPatterns.NullObject/bin/Debug/net6.0
/DesignPatterns.NullObject/obj
/DesignPatterns.Strategy/bin/Debug/net6.0
/DesignPatterns.Strategy/obj
/DesignPatterns.ChainOfResponsibility/obj
/DesignPatterns.ChainOfResponsibility/bin/Debug/net6.0
/DesignPatterns.Bridge/obj
/DesignPatterns.Bridge/bin/Debug/net6.0
/DesignPatterns.Visitor/bin/Debug/net6.0
/DesignPatterns.Visitor/obj
/DesignPatterns.Factory/bin/Debug/net6.0
/DesignPatterns.Factory/obj
/DesignPatterns.Builder/bin/Debug/net6.0
/DesignPatterns.Builder/obj
/DesignPatterns.Facade/bin/Debug/net6.0
/DesignPatterns.Facade/obj
/DesignPatterns.Mediator/bin/Debug/net6.0
/DesignPatterns.Mediator/obj
/DesignPatterns.Composite/bin/Debug/net6.0
/DesignPatterns.Composite/obj
/DesignPatterns.Decorator/bin/Debug/net6.0
/DesignPatterns.Decorator/obj
